
.bloktem {
  position: relative;
  height: 600px;
  background-color: black;
  margin-top: 50px;
}
.slider {
  position: relative;
  height: 100%;
}
.heroImage {
  border-radius: 20px;      
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 60%;
  height: 600px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.active {
  opacity: 1;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255,255,255,0.7);
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  z-index: 2;
}
.prev { left: 10px; }
.next { right: 10px; }

@media (max-width: 700px) {
  .slider {
    width: 90vw !important;         
    max-width: 350px !important;    
    height: 180px !important;   
    margin-top: 275px !important;    
  }

  .heroImage {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;   
    border-radius: 10px;
    display: block;
  }
  .bloktem {
    height: 320px !important;     
    margin-top: 36px !important;  
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .slider {
    width: 85vw !important;          
    max-width: 600px !important;     
    height: 350px !important;        
    margin-top: 300px !important;    
  }

  .heroImage {
    width: 95% !important;           
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 12px;
    display: block;
  }

  .bloktem {
    height: 400px !important;        
    margin-top: 50px !important;
    background: #000;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

